<main class="main">
  <div class="inner">
    <div class="container-calendar">
      <div class="user-selector">
        <%= form_with url: weightlosses_path, method: :get, id: "user-selector-form", data: { turbo: false } do %>
          <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :name), prompt: "選手を選択" %>
          <%= password_field_tag :password, nil, placeholder: "パスワード入力" %>
          <%= submit_tag "選択" %>
        <% end %>
      </div>

      <% if params[:user_id].present? %>
        <% if params[:password] == "1129296" %>
          <% user = User.find_by(id: params[:user_id]) %>
          <% if user %>
            <h2><%= user.name %>の減量情報</h2>
            <% @weightlosses.where(user_id: params[:user_id]).each do |weightloss| %>
              <!-- ユーザーの減量情報を表示 -->
            <% end %>
          <% end %>
        <% else %>
          <p>パスワードが正しくありません。</p>
        <% end %>
      <% end %>

      
      <%= month_calendar do |date| %>
        <%= date.day %>
        <% weightloss = @weightlosses.find_by(created_at: date.beginning_of_day..date.end_of_day) %>
        <% if weightloss %>
          <% if current_user == User.find_by(id: weightloss.user_id) || (params[:user_id].present? && params[:password] == "1129") %>
            <div>
              <%= link_to weightloss_path(weightloss) do %>
                情報あるよ
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card__wrapper">
  </div>
</main>
